#wrapper {
    width: 70%;
    margin: auto;
}

#wrapper img {
    width: 66%;
}

#contact
/*header*/

    {
    display: flex;
    flex-direction: row;
}

#ourLocation {
    display: flex;
    flex-direction: row;
}

iframe {
    width: 80%;
}

.ourLocationData {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.ourLocationData div {
    height: 25%;
}

#getInTouch
/*the get in touch section */

    {
    display: flex;
    flex-direction: row;
}

#getInTouch img {
    height: 100%;
    width: 40%;
}

.getInTouch {
    display: flex;
    flex-direction: column;
    width: 60%;
}

footer {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

footer h3 {
    margin: 3% 0% 0% 5%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 2%;
}

.input input {
    width: 80%;
    border-radius: 5px;
    border-color: #000;
    margin: 1% 0% 1% 3%;
}

footer a {
    font-size: 2.5em;
    text-decoration: none;
    padding: 0em 0.6em 0em 0.6em;
    color: white;
}